<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/java_examples_demarco/src/org/protor/sandbox/romano/Test02.java"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="1"/>
    </listAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_EXCLUDE_TEST_CODE" value="true"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_CLASSPATH_ONLY_JAR" value="false"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.protor.sandbox.romano.Test02"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="C:\Users\PC2\Desktop\github\java_examples_demarco\input\cars.xml&#13;&#10;C:\Users\PC2\Desktop\github\java_examples_demarco\input\ships.xml&#13;&#10;C:\Users\PC2\Desktop\github\java_examples_demarco\input\airplanes.xml"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="java_examples_demarco"/>
</launchConfiguration>
